---
import UserLayout from '@layouts/UserLayout.astro'
---

<UserLayout title="Page not found | Opus Classical">
  <h1>Page not found</h1>
  <img
    class="w-48 self-center mt-8 dark:invert-[.8]"
    src="/404.webp"
    alt="404"
  />
</UserLayout>
