---
import type { Performer } from '@models/Performer'

interface Props {
  performer: Performer
}

const { performer } = Astro.props
---

<div class="mb-1.5 leading-5">
  <span>
    {performer.firstName}{performer.firstName && <span>&nbsp;</span>}{
      performer.lastName
    }&nbsp;
  </span>
  <span class="text-xs font-light">{performer.instrument}</span>
</div>
